.main-right-column{
    float: right;
    width: 650px;
    margin-left: 59px;
    margin-right: 120px;
}
.clearfix:after,
.clearfix:before{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
.main-right-block{
    background: #eeedec;
    border-radius: 5px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}
.main-right-info{
    display: block;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a9a7a7+0,7c7a7a+100 */
    background: rgb(169,167,167); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(169,167,167,1) 0%, rgba(124,122,122,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(169,167,167,1) 0%,rgba(124,122,122,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(169,167,167,1) 0%,rgba(124,122,122,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9a7a7', endColorstr='#7c7a7a',GradientType=0 ); /* IE6-9 */
    font-size: 24px;
    line-height: 22px;
    color: #eeedec;
    padding-top: 15px;
    padding-left: 40px; 
    min-height: 40px;   
    border:1px solid #636363;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    margin-bottom: 35px;
    font-family: 'open_sanssemibold';
}
.main-right-foto{
    float: left;
    margin-left: 40px;
    width: 150px;
    height: 150px;
    border: 2px solid #ccc;
    border-radius: 50%;
}
.main-foto{
    width: 130px;
    height: 130px;
    border: 0 solid;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 10px;
    margin-top: 10px;
}
.foto{
    width: 100%;
    overflow: hidden;
}
.main-right-information{
    float: right;
    margin-left: 25px;
    width: 422px;
}
.about{
    display: inline-block;
    width: 379px;
    color: #727070;
    font-size: 14px;
}
.info-about{
    overflow: hidden;
    font-size: 16px;
    vertical-align: top;
    display: inline-block;
    background: #eeedec;
    margin-top: 0;
    margin-bottom: 5px;
    margin-right: 5px;
    color: #727070;
    font-family: 'open_sanssemibold';
    font-weight: 600;
}
.info-skill-block{
    margin-top: 15px;
}
.info-skills{
    width: 230px;
    display: inline-block;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.info-skill{
	background: linear-gradient(white 0%, #fbf9f9 6%, #e9e6e4 100%);
	line-height: 1.8em;
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	color: #1e7465;
	text-transform: uppercase;
	font-family: 'open_sanssemibold';
	font-size: 9px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: 0;
	display: inline-block;
	padding: 0px 5px 0px 5px;
	box-shadow: 0px 1px 1px rgba(0,0,0,.1);
	margin-left: 13px;
	margin-bottom: 8px;
}
.info-skill:before{
	content: "";
	width: 8px;
	height: 18px;
	display: block;
	background-image:url("../img/kolbaska-before.png");
    background-repeat: no-repeat;
	margin-top: -1px;
	margin-left: -13px;
	position: absolute;
}
.main-right-practice{
    display: block;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a9a7a7+0,7c7a7a+100 */
    background: rgb(169,167,167); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(169,167,167,1) 0%, rgba(124,122,122,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(169,167,167,1) 0%,rgba(124,122,122,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(169,167,167,1) 0%,rgba(124,122,122,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9a7a7', endColorstr='#7c7a7a',GradientType=0 ); /* IE6-9 */
    font-size: 24px;
    line-height: 22px;
    color: #eeedec;
    padding-top: 15px;
    padding-left: 40px; 
    min-height: 40px;   
    border:1px solid #636363;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    margin-bottom: 35px;
    font-family: 'open_sanssemibold';
}
.main-right-case{
    width: 470px;
    margin-top: 45px;
    list-style: none;
}
.right-section-prof{
    margin-bottom: 40px;
    font-size: 14px;
    position: relative;
}
.right-section-prof-last{
    margin-bottom: 25px;
    font-size: 14px;
    position: relative;
}
.right-section-prof-last:before{
    content: url("../img/brief-bag.png");
    position: absolute;
    text-align: center;
    padding-top: 17px;
    width: 50px;
    height: 35px;
    background: #f7f7f7;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    box-shadow: -1px -1px 1px 1px #cfcfcf;
    border: 1px solid #fcfcfc;
    top: 50%;
    margin-top: -30px;
}
.right-section-prof:before{
    content: url("../img/brief-bag.png");
    position: absolute;
    text-align: center;
    padding-top: 17px;
    width: 50px;
    height: 35px;
    background: #f7f7f7;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    box-shadow: -1px -1px 1px 1px #cfcfcf;
    border: 1px solid #fcfcfc;
    top: 50%;
    margin-top: -30px;
}
.right-section-prof:after{
    content: '';
    position: absolute;
    width: 560px;
    height: 1px;
    bottom: -15px;
    background-color: #dbdbda;
    border-radius: 1px;
}
.main-right-prof{
    margin-left: 95px;
    width: 460px;
    margin-bottom: 20px;
}
.prof{
    vertical-align: top;
    color: #727070;
    margin: 0;
    font-family: 'open_sanssemibold';
    font-size: 14px;
    color: #727070;
}
.prof-time{
    margin-top: 0;
    display: inline-block;
    vertical-align: top;
    color: #727070;
    font-family: 'open_sanssemibold';
    font-size: 14px;
    margin-top: 5px;
}
.main-right-education{
    display: block;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a9a7a7+0,7c7a7a+100 */
    background: rgb(169,167,167); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(169,167,167,1) 0%, rgba(124,122,122,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(169,167,167,1) 0%,rgba(124,122,122,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(169,167,167,1) 0%,rgba(124,122,122,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9a7a7', endColorstr='#7c7a7a',GradientType=0 ); /* IE6-9 */
    font-size: 24px;
    line-height: 22px;
    color: #eeedec;
    padding-top: 15px;
    padding-left: 40px; 
    min-height: 40px;   
    border:1px solid #636363;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    margin-bottom: 35px;
    font-family: 'open_sanssemibold';
}
.right-section-education{
    margin-bottom: 40px;
    font-size: 14px;
    position: relative;
}
.section-one:before {
    content: url("../img/blocknote.png");
    position: absolute;
    text-align: center;
    padding-top: 17px;
    width: 50px;
    height: 35px;
    background: #f7f7f7;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    box-shadow: -1px -1px 1px 1px #cfcfcf;
    border: 1px solid #fcfcfc;
    top: 50%;
    margin-top: -30px;
}
.section-two:before {
    content: url("../img/hat.png");
    position: absolute;
    text-align: center;
    padding-top: 17px;
    width: 50px;
    height: 35px;
    background: #f7f7f7;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    box-shadow: -1px -1px 1px 1px #cfcfcf;
    border: 1px solid #fcfcfc;
    top: 50%;
    margin-top: -30px;
}
.section-three:before {
    content: url("../img/sheet.png");
    position: absolute;
    text-align: center;
    padding-top: 17px;
    width: 50px;
    height: 35px;
    background: #f7f7f7;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    box-shadow: -1px -1px 1px 1px #cfcfcf;
    border: 1px solid #fcfcfc;
    top: 50%;
    margin-top: -30px;
}
.right-section-education:after{
    content: '';
    position: absolute;
    width: 560px;
    height: 1px;
    bottom: -15px;
    background-color: #dbdbda;
    border-radius: 1px;
}
.right-section-education-last{
    margin-bottom: 25px;
    font-size: 14px;
    position: relative;
}
.main-right-lore{
    margin-left: 95px;
    width: 460px;
    margin-bottom: 20px;
}
.education{
    vertical-align: top;
    color: #727070;
    font-size: 14px;
    margin: 0;
    font-family: 'open_sanssemibold';
}
.education-time{
    margin-top: 0;
    display: inline-block;
    vertical-align: top;
    color: #727070;
    font-size: 14px;
    font-family: 'open_sanssemibold';
    margin-top: 5px;
}
/*.right-section-education{
    width: 560px;
    border-bottom: 1px solid #dbdbda;
    min-height: 78px;
    margin-bottom: 13px;
    margin-left: 45px;
    font-size: 0;
    vertical-align: middle;
}
.section-three{
    border: none;
    margin-bottom: 0;
}
.section-one:before {
    content: url("../img/blocknote.png");
    position: absolute;
    text-align: center;
    padding-top: 20px;
    width: 54px;
    height: 34px;
    background: #f7f7f7;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    box-shadow: -1px -1px 1px 1px #cfcfcf;
    border: 1px solid #fcfcfc;
}
.section-two:before {
    content: url("../img/hat.png");
    position: absolute;
    text-align: center;
    padding-top: 20px;
    width: 54px;
    height: 34px;
    background: #f7f7f7;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    box-shadow: -1px -1px 1px 1px #cfcfcf;
    border: 1px solid #fcfcfc;
}
.section-three:before {
    content: url("../img/sheet.png");
    position: absolute;
    text-align: center;
    padding-top: 20px;
    width: 54px;
    height: 34px;
    background: #f7f7f7;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    box-shadow: -1px -1px 1px 1px #cfcfcf;
    border: 1px solid #fcfcfc;
}
.main-right-lore{
    display: inline-block;
    margin-left: 95px;
    width: 460px;
}
.education{
    margin-top: 10px;
    font-size: 14px;
    vertical-align: top;
    color: #727070;
    margin-bottom: 0;
}
.education-time{
    display: inline-block;
    margin-top: 0;
    font-size: 14px;
    vertical-align: top;
    color: #727070;
}